header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;  
}
.header-container{
    text-align: center;
    position: relative;
}
.cont-btn{
    margin-top: 25px;
    margin-bottom: 60px;
    
}

h1{
    animation: myname-load 300ms ease-in 350ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
@keyframes myname-load{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.cot_btn_one{
    margin-right: 10px;
    padding: 10px 24px;
    background-color: #f2efff21;
    color: white;
    border-radius: 2px;
    
}
.cot_btn_one:hover{
    background: var(--color-bg);
    outline: 1px solid #a17373e6;
    transition: 1s;
}
.cot_btn_two{
   
    padding: 10px 24px;
    border-radius: 2px;
    background-color: black;
    outline: 1px solid #06ff00b0;
    color: white;
}
.cot_btn_two:hover{
    background: var(--color-bg);
    outline: 1px solid #a17373e6;
    transition: 1s;
}
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    
}
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: #b2afd5
}
a{
    color: #b2afd5
}
a:hover{
    transition: 1s;
    color: white;
    
}
h1{
    margin: 5px 0 10px;
}
.headImg{
    margin-top: 10px;
}
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 13px;
    
}
@media screen and (max-width:900px) {
    header{
        height: auto;
        padding-bottom: 60px;
    }
}

@media screen and (max-width:700px) {
    .scroll_down,.header_socials{
        display: none;
    }
    img{
        width: 110%;
    }
    .cot_btn_one{
        padding: 7px 15px;
        font-size: 13px;
    }
    .cot_btn_two{
        padding: 7px 15px;
        font-size: 13px;
    }
    .header-container h1{
        font-size: 23px;
    }
    
}
